html {
    background: url("chalkboard.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#landing-title { 
    width: 100%;
    margin: auto;
    padding-top: 20%;
}

#landing-form { 
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  }

#game-title { 
  padding-top: 50px;
  font-style: italic;
}

#game-sidebar {
  width: 15%;
  float:right;
  padding-right: 15%
}

#game-card {
  width: 70%;
  float: left;
}


h3 {
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 1.85em;

}

#game-question {
  height: 20em;
  float: left;
  width: 100%;
  margin: auto;
  padding-left: 5%;
}

#game-form {
  text-align: center;
}

/* #game-question-2 {
    height: 27em;
    float: left;
    width: 25%;
}

#game-question-3 {
    height: 27em;
    float: left;
    width: 25%;
}

#game-question-4 {
    height: 27em;
    float: left;
    width: 25%;
} */

#game-timer {
  height: 6em;
  color: white;
  text-align: center;
  text-decoration: underline;
  padding-top: 1.5em; 
}

#game-score {
  height: 8em;
  text-align: center;
}

#score-title {
  color: white;
  text-decoration: underline

}

#game-instructions {
  color: white;
  padding-left: 17%;
  padding-top: 5%;
}


#points {
  color: white;
  font: 22px italic;

}

#game-highscore {
  height: 16em;
  color: white;
  text-align: center;
  text-decoration: underline

}

/* ul {
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 5;
  column-gap: 20px;
} */

ul {
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-left: 12%;
  align-content: space-evenly;
  white-space: nowrap;
}

li {
  list-style-type: none;
  color: white;
  padding-right: 4em;
  padding-top: .5em;
}




.user-start-container{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.user-start{
    display: inline-block;
    margin: auto;
    font-size: 5ch
}

#form{
    display: block;
    text-align: center;
}

#user-title {
    margin-block-start: 0.05em;
    margin-block-end: 0.05em;
    color: white;
}

#user-name{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
}
#user-name-submit{
    display: none;
}

#user-submit{
  display: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}